@font-face{font-family:'DeltaSIB';src:url(../fonts/DeltaSIBe3f3.eot?lqgz1m);src:url(../fonts/DeltaSIBe3f3.eot?lqgz1m#iefix) format('embedded-opentype'),url(../fonts/DeltaSIBe3f3.ttf?lqgz1m) format('truetype'),url(../fonts/DeltaSIBe3f3.woff?lqgz1m) format('woff'),url(../fonts/DeltaSIBe3f3.svg?lqgz1m#DeltaSIB) format('svg');font-weight:400;font-style:normal}
.Delta_ico {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'DeltaSIB' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.DS_Expiration-Date-2:before {
  content: "\e95d";
}
.DS_Expiration-Date:before {
  content: "\e95e";
}
.DS_alert-n:before {
  content: "\e95f";
}
.DS_DC:before {
  content: "\e960";
}
.DS_phonelink:before {
  content: "\e326";
}
.DS_m_off:before {
  content: "\e25c";
}
.DS_phonelink_off:before {
  content: "\e327";
}
.DS_power:before {
  content: "\e63c";
}
.DS_vpn_lock:before {
  content: "\e62f";
}
.DS_profile2:before {
  content: "\e900";
}
.DS_profile_image_minus_round:before {
  content: "\e901";
}
.DS_profile_image_plus_round:before {
  content: "\e902";
}
.DS_profile_image_round:before {
  content: "\e903";
}
.DS_radio_signal:before {
  content: "\e904";
}
.DS_radio_tower:before {
  content: "\e905";
}
.DS_rss:before {
  content: "\e906";
}
.DS_rss_cover:before {
  content: "\e907";
}
.DS_save_item:before {
  content: "\e908";
}
.DS_save_item2:before {
  content: "\e909";
}
.DS_shop_center_round:before {
  content: "\e90a";
}
.DS_shopping_cart_minus_round:before {
  content: "\e90b";
}
.DS_shopping_cart_plus_round:before {
  content: "\e90c";
}
.DS_shopping_cart_round:before {
  content: "\e90d";
}
.DS_showcase_round:before {
  content: "\e90e";
}
.DS_shut_down:before {
  content: "\e90f";
}
.DS_toggle_button:before {
  content: "\e910";
}
.DS_usb:before {
  content: "\e911";
}
.DS_file_text_data:before {
  content: "\e912";
}
.DS_file_url:before {
  content: "\e913";
}
.DS_file_zip:before {
  content: "\e914";
}
.DS_fileboard_checklist:before {
  content: "\e915";
}
.DS_fileboard_close:before {
  content: "\e916";
}
.DS_fileboard_done:before {
  content: "\e917";
}
.DS_fileboard_love_favorite:before {
  content: "\e918";
}
.DS_fileboard_minus:before {
  content: "\e919";
}
.DS_fileboard_plus:before {
  content: "\e91a";
}
.DS_folder:before {
  content: "\e91b";
}
.DS_home2:before {
  content: "\e91c";
}
.DS_important_message:before {
  content: "\e91d";
}
.DS_inbox_close_round:before {
  content: "\e91e";
}
.DS_inbox_done_round1:before {
  content: "\e91f";
}
.DS_inbox_down_round:before {
  content: "\e920";
}
.DS_like:before {
  content: "\e921";
}
.DS_lock_circle_close_round1:before {
  content: "\e922";
}
.DS_lock_close_round:before {
  content: "\e923";
}
.DS_lock_open_round:before {
  content: "\e924";
}
.DS_medal2:before {
  content: "\e925";
}
.DS_medal:before {
  content: "\e926";
}
.DS_message:before {
  content: "\e927";
}
.DS_message_three_points:before {
  content: "\e928";
}
.DS_mouse:before {
  content: "\e929";
}
.DS_mouse__window:before {
  content: "\e92a";
}
.DS_printer2:before {
  content: "\e92b";
}
.DS_cloud:before {
  content: "\e92c";
}
.DS_cloud_down:before {
  content: "\e92d";
}
.DS_cloud_message:before {
  content: "\e92e";
}
.DS_cloud_minus:before {
  content: "\e92f";
}
.DS_cloud_ok:before {
  content: "\e930";
}
.DS_cloud_plus:before {
  content: "\e931";
}
.DS_cloud_up:before {
  content: "\e932";
}
.DS_code:before {
  content: "\e933";
}
.DS_coffee:before {
  content: "\e934";
}
.DS_cup:before {
  content: "\e935";
}
.DS_dashboard:before {
  content: "\e936";
}
.DS_database_system:before {
  content: "\e937";
}
.DS_desktop:before {
  content: "\e938";
}
.DS_dislike:before {
  content: "\e939";
}
.DS_done1:before {
  content: "\e93a";
}
.DS_done:before {
  content: "\e93b";
}
.DS_download2:before {
  content: "\e93c";
}
.DS_download3:before {
  content: "\e93d";
}
.DS_edit_text_bar:before {
  content: "\e93e";
}
.DS_email:before {
  content: "\e93f";
}
.DS_file_arrow_up:before {
  content: "\e940";
}
.DS_file_close:before {
  content: "\e941";
}
.DS_file_done:before {
  content: "\e942";
}
.DS_file_image:before {
  content: "\e943";
}
.DS_arrow_corner2:before {
  content: "\e944";
}
.DS_arrow_corner:before {
  content: "\e945";
}
.DS_attachment2:before {
  content: "\e946";
}
.DS_bag_circle:before {
  content: "\e947";
}
.DS_bag_close_round:before {
  content: "\e948";
}
.DS_bag_minus:before {
  content: "\e949";
}
.DS_bag_plus:before {
  content: "\e94a";
}
.DS_bookmark_fill:before {
  content: "\e94b";
}
.DS_bookmark_minus_fill:before {
  content: "\e94c";
}
.DS_bookmark_plus_fill:before {
  content: "\e94d";
}
.DS_calendar1:before {
  content: "\e94e";
}
.DS_calendar2:before {
  content: "\e94f";
}
.DS_calendar22:before {
  content: "\e950";
}
.DS_call:before {
  content: "\e951";
}
.DS_call2:before {
  content: "\e952";
}
.DS_call3:before {
  content: "\e953";
}
.DS_call4:before {
  content: "\e954";
}
.DS_call5:before {
  content: "\e955";
}
.DS_call6:before {
  content: "\e956";
}
.DS_call7:before {
  content: "\e957";
}
.DS_call8:before {
  content: "\e958";
}
.DS_camera:before {
  content: "\e959";
}
.DS_camera2:before {
  content: "\e95a";
}
.DS_clock2:before {
  content: "\e95b";
}
.DS_bullhorn:before {
  content: "\e95c";
}
.DS_home:before {
  content: "\e9d6";
}
.DS_image:before {
  content: "\e9d7";
}
.DS_profile:before {
  content: "\e9d8";
}
.DS_file-picture:before {
  content: "\e9d9";
}
.DS_phone:before {
  content: "\e9da";
}
.DS_phone-hang-up:before {
  content: "\e9db";
}
.DS_address-book:before {
  content: "\e9dc";
}
.DS_envelop:before {
  content: "\e9dd";
}
.DS_location:before {
  content: "\e9de";
}
.DS_location2:before {
  content: "\e9df";
}
.DS_floppy-disk:before {
  content: "\e9e0";
}
.DS_bubbles4:before {
  content: "\e9e1";
}
.DS_user:before {
  content: "\e9e2";
}
.DS_users:before {
  content: "\e9e3";
}
.DS_user-plus:before {
  content: "\e9e4";
}
.DS_key2:before {
  content: "\e9e5";
}
.DS_lock:before {
  content: "\e9e6";
}
.DS_unlocked2:before {
  content: "\e9e7";
}
.DS_cog:before {
  content: "\e9e8";
}
.DS_sphere:before {
  content: "\e9e9";
}
.DS_earth:before {
  content: "\e9ea";
}
.DS_link:before {
  content: "\e9eb";
}
.DS_attachment:before {
  content: "\e9ec";
}
.DS_eye:before {
  content: "\e9ed";
}
.DS_eye-blocked:before {
  content: "\e9ee";
}
.DS_info:before {
  content: "\e9ef";
}
.DS_cancel-circle:before {
  content: "\e9f0";
}
.DS_cross:before {
  content: "\e9f1";
}
.DS_checkmark:before {
  content: "\e9f2";
}
.DS_arrow-left:before {
  content: "\e9f3";
}
.DS_circle-up:before {
  content: "\e9f4";
}
.DS_circle-right:before {
  content: "\e9f5";
}
.DS_circle-down:before {
  content: "\e9f6";
}
.DS_circle-left:before {
  content: "\e9f7";
}
.DS_checkbox-checked2:before {
  content: "\e9f8";
}
.DS_checkbox-unchecked2:before {
  content: "\e9f9";
}
.DS_radio-checked2:before {
  content: "\e9fa";
}
.DS_calendar:before {
  content: "\e9fb";
}
.DS_radio-checked:before {
  content: "\e9fc";
}
.DS_radio-unchecked:before {
  content: "\e9fd";
}
.DS_office:before {
  content: "\e9fe";
}
.DS_pencil:before {
  content: "\e9ff";
}
.DS_connection:before {
  content: "\ea00";
}
.DS_book:before {
  content: "\ea01";
}
.DS_cart:before {
  content: "\ea02";
}
.DS_credit-card:before {
  content: "\ea03";
}
.DS_lifebuoy:before {
  content: "\ea04";
}
.DS_clock:before {
  content: "\ea05";
}
.DS_printer:before {
  content: "\ea06";
}
.DS_drawer:before {
  content: "\ea07";
}
.DS_drawer2:before {
  content: "\ea08";
}
.DS_download:before {
  content: "\ea09";
}
.DS_upload:before {
  content: "\ea0a";
}
.DS_spinner11:before {
  content: "\ea0b";
}
.DS_wrench:before {
  content: "\ea0c";
}
.DS_equalizer:before {
  content: "\ea0d";
}
.DS_mobile:before {
  content: "\ea0e";
}
.DS_barcode:before {
  content: "\ea0f";
}
.DS_equalizer2:before {
  content: "\ea10";
}
.DS_cog2:before {
  content: "\ea11";
}
.DS_stats-dots:before {
  content: "\ea12";
}
.DS_gift:before {
  content: "\ea13";
}
.DS_rocket:before {
  content: "\ea14";
}
.DS_meter:before {
  content: "\ea15";
}
.DS_meter2:before {
  content: "\ea16";
}
.DS_bin:before {
  content: "\ea17";
}
.DS_switch:before {
  content: "\ea18";
}
.DS_menu:before {
  content: "\ea19";
}
.DS_warning:before {
  content: "\ea1a";
}
.DS_blocked:before {
  content: "\ea1b";
}
.DS_enter:before {
  content: "\ea1c";
}
.DS_exit:before {
  content: "\ea1d";
}
.DS_loop2:before {
  content: "\ea1e";
}
.DS_arrow-up2:before {
  content: "\ea1f";
}
.DS_arrow-right2:before {
  content: "\ea20";
}
.DS_arrow-down2:before {
  content: "\ea21";
}
.DS_share:before {
  content: "\ea22";
}
.DS_new-tab:before {
  content: "\ea23";
}
.DS_mail2:before {
  content: "\ea24";
}
.DS_mail4:before {
  content: "\ea25";
}
.DS_instagram:before {
  content: "\ea26";
}
.DS_telegram:before {
  content: "\ea27";
}
.DS_onedrive:before {
  content: "\ea28";
}
.DS_appleinc:before {
  content: "\ea29";
}
.DS_finder:before {
  content: "\ea2a";
}
.DS_android:before {
  content: "\ea2b";
}
.DS_windows8:before {
  content: "\ea2c";
}
.DS_chrome:before {
  content: "\ea2d";
}
.DS_firefox:before {
  content: "\ea2e";
}
.DS_IE:before {
  content: "\ea2f";
}
.DS_edge:before {
  content: "\ea30";
}
.DS_safari:before {
  content: "\ea31";
}
.DS_opera:before {
  content: "\ea32";
}
.DS_file-word:before {
  content: "\ea33";
}
.DS_file-excel:before {
  content: "\ea34";
}
.DS_Arroww_D:before {
  content: "\ea35";
}
.DS_Arroww_F_D:before {
  content: "\ea36";
}
.DS_Arroww_F_L:before {
  content: "\ea37";
}
.DS_Arroww_F_R:before {
  content: "\ea38";
}
.DS_Arroww_F_U:before {
  content: "\ea39";
}
.DS_Arroww_L:before {
  content: "\ea3a";
}
.DS_Arroww_R:before {
  content: "\ea3b";
}
.DS_Arroww_U:before {
  content: "\ea3c";
}
.DS_filter:before {
  content: "\ea5b";
}
